<div class="panel panel-info" style="margin-top:1em">
		<div class="panel-heading">
			<h1 class="panel-title" style="font-size:2em">
				Introduction
			</h1>
		</div>
</div>

<div class="panel-body">
	<p class='lead'>
		歡迎來到我的實驗。<br/><br/>
		接下來，您將會完成排序任務。<br/><br/>
		感謝您的到來！
	</p>
	<div class="text-center proceed" style="margin: 30px auto 10px;">
		<button pi-message-done type="button" class="btn btn-primary">
			開始
		</button>
	</div>
</div>





