<div class="panel panel-info" style="margin-top:1em">
		<div class="panel-heading">
			<h1 class="panel-title" style="font-size:2em">
				謝謝您
			</h1>
		</div>
</div>

<div class="panel-body">
	<p class='lead'>
		<b>非常感謝您進行到這。</b>
		<br/><br/>
		請按下方進行第三組實驗。
	</p>
	<div class="text-center proceed" style="margin: 30px auto 10px;">
		<button pi-message-done type="button" class="btn btn-primary">
			結束
		</button>
	</div>
</div>





