<div class="panel panel-info" style="margin-top:1em">
		<div class="panel-heading">
			<h1 class="panel-title" style="font-size:2em">
				Introduction
			</h1>
		</div>
</div>

<div class="panel-body">
	<p class='lead'>
		歡迎來到第三組實驗。<br/><br/>
		完成排序任務後，實驗將會結束。<br/><br/>
		感謝您！
	</p>
	<div class="text-center proceed" style="margin: 30px auto 10px;">
		<button pi-message-done type="button" class="btn btn-primary">
			開始
		</button>
	</div>
</div>





